# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

Convolutional_Neural_Networks/dataset
/Convolutional_Neural_Networks/my_cnn_result-2020-04-04 at 7.57.24 PM.png
/Convolutional_Neural_Networks/Screen Shot 2020-04-03 at 10.28.52 PM.png
/Convolutional_Neural_Networks/my_cnn_result-2020-04-03 at 12.00.57 PM.png
/Deep_Learning_A_Z/
